
body {
  background-color: #000000;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
   color: #0a0a0a;
   margin: 0px;
   padding: 0px;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 34px;
}

#banner {
  padding: 15px;
  background-color: #ffffff;
  width: 100%;
  float: left;
}

#cdslogo {
  float: left;
  width: 160px;
  margin-right: 32px;
}

#title {
  padding-top: 15px;
  float: left;
}

#maincontent {
  color: #ffffff;
  clear: both;
  display: table;
  padding: 35px;
  padding-left: 50px;
}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 28px;
}
